*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.html{
    font-size: 62.5%; /*(10px for converting rem*/
}

body{
    font-family: 'Poppins', sans-serif;
}

/************************************************************HERO SECTION**********************************************************/

.header{
    height: 100vh;
    background-image: linear-gradient(rgba(3,4,7,0.48),rgba(5,10,30,0.48)),url('https://raw.githubusercontent.com/daoistcoder/image-resources/main/g.png');
    background-size: cover;
    background-position: center;
    position: relative; 
}

.header-brand{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
}

.header-brand__span{
    color: #A7235F;
}

nav {
    /* background-color: orangered; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;    
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color: #A7235F;
}

.header-text{
    /* background-color: orangered; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.header-text h1{
    font-size: 70px;
}


.header-text__span{
    color: #A7235F;
}
/* Media Query Elements Hero */
.header__image{
    display: none;
}

.header-text--2{
    display: none;
}
/************************************************************ABOUT SECTION**********************************************************/

.about{
    background-color: #242323;
    height: 100vh;
}

.about-text{
    /* background-color: orangered; */
    color: #fff;
    text-align: center;
    margin: auto;
    width: 50%;
}

.about-text h2{
    padding-top: 6rem;
    font-weight: 800;
    font-size: 95px;
}

.about-text p{
    padding-top: 2rem;
    line-height: 1.8rem;
    text-align: center;
    font-size: 25px;
    /* background-color: blue;
    width: 2000px; */

}

.about-skills{
    /* background-color: orangered; */
    width: 50%;
    color: #fff;
    margin: auto;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.about-skills h3{
    padding-right: 6%;
    font-weight: 800;
    font-size: 20px;
}

.about-skills__h3--1:hover{
    border-bottom: 3px solid #A7235F;
    width: 5%;
    margin-right: 55px;
    cursor: pointer;
    

}

.about-skills__h3--2:hover{
    border-bottom: 3px solid #A7235F;
    width: 5%;
    margin-right: 110px;
    cursor: pointer;
}


.about-skills__h3--3:hover{
    border-bottom: 3px solid #A7235F;
    width: 5%;
    margin-right: 100px;
    cursor: pointer;
}

/************************************************************PORTFOLIO SECTION**********************************************************/


.portfolio{
    background-image: linear-gradient(rgba(3,4,7,0.48),rgba(5,10,30,0.48)),url('https://raw.githubusercontent.com/daoistcoder/image-resources/main/23.png');
    background-size: cover;
    height: 100vh;
    text-align: center;
    
}

.portfolio h2{
    color: #fff;
    padding-top: 2%;
    font-weight: 800;
    font-size: 95px;
}

.portfolio__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    padding: 3.5%;
    margin-top: 10px;
}

.portfolio__img{
    border-radius: 10px;
    position: relative;
}

.portfolio__img img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 400px;
    display: block;
}

.portfolio__img:hover{
    border-radius: 12px;
    border: 5px solid #A7235F;
    cursor: pointer;
}

.portfolio__btn{
    background-color: #A7235F;
    color: #fff;
    height: 65px;
    width: 255px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 50px;
    padding: .5% 1%;
}

/************************************************************CONTACT SECTION**********************************************************/

.contact{
    background-color: #3E3C3C;
    height: 100vh;
    padding: 3%;
    font-size: 32px;
    color: #fff;
    /* margin-top:  300px;
    padding: 5%; */
}


.contact__row{
    display: flex;
    flex-direction: row;
}

.contact-left h2{
    font-size: 105px;
    font-weight: 800;
    margin-right:-200px;
}

.contact_text--2{
    display: none;
}

.contact-left{
    margin-left: 100px;
    flex-basis: 35%;
    text-align: center;
}

.contact-left p{
    margin-top: 40px;
}

.contact-left p i{
    color: #d9d9d9;
    margin-right: 15px;
    font-size: 45px;
}

.contact-left p i:hover{
    color: #A7235F;
    transform: translateY(-5px);
}


.contact-left__icons a{
    text-decoration: none;
    font-size: 60px;
    margin-top: 40px;
    margin-right: 15px;
    color: #d9d9d9;
    display: inline-block;
}

.contact-left__icons a:hover{
    color: #A7235F;
    transform: translateY(-5px);
}

.contact__btn{
    display: block;
    /* margin: 10px auto; */
    border: 2px solid #A7235F;
    padding: 14px 50px;
    background: #312d2d;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    width: fit-content;
 
}

.contact__btn:hover{
    background: #A7235F;
}

.contact__btn.contact__btn--1{
    margin-top: 50px;
    display: inline-block;
}


.contact-right{
    flex-basis: 40%;
}

.contact-right form{
    margin: 70px 0 0 220px;
    width: 100%;
    text-align: center;

}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #312D2D;    
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    border: 6px;
}

form input:hover, form textarea:hover{
    border: solid #A7235F;
    cursor: pointer;
}



.contact__btn.contact__btn--2{
    display: inline-block;
    background-color: #312d2d;
    font-size: 32px;
}

.contact__btn.contact__btn--2:hover{
    background: #A7235F;
    cursor: pointer;
}
/* Previous Contact Section CSS */
/* .contact__container{
    width: 100%;
    overflow: hidden;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    padding: 2% 0 2% 10%;
}

.contact__container input::placeholder{
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

.contact__container textarea::placeholder{
    font-size: 32px;
    font-weight: 800;
    color: #fff;
}

.contact__container input,textarea{
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}
.contact__container form{
    width: 45%;
    float: left;
    margin-right: 5%;
    text-align: left;
}

.contact-left__icons1{
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 20px;
}

.contact-left__icons1 img{
    width: 53px;
    height: 45.33px;
    margin-left: 10%;
}

.contact-left__icons2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-left__icons2 img{
    width: 44px;
    height: 49.36px;
    margin-left: 10%;
}

.contact-left__icons3{
    display: flex;
    align-items: center;
    margin-top: 8%;
    margin-left: 15%;
    margin-bottom: 8%;
}

.contact-left__icons3 img{
    width: 66px;
    height: 62.45px;
    margin-right: 27px;
}

.contact__container p{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 7%;
}
.contact__container form:last-child{
    margin-right: 0;
    text-align: center;
}
.contact h2{
    color: #fff;
    padding: 1% 0 0 14%;
    font-weight: 800;
    font-size: 120px;

}

.contact__btn--1{
    margin-left: 35%;
    background-color: #A7235F;
    font-size: 30px;
    text-decoration: none;
    height: 65px;
    width: 255px;
    color: #fff;
    border-radius: 10px;
    padding: 2.75% 1%;

}

.contact button{
    background-color: green;
    font-size: 30px;
    color: #fff;
    height: 75px;
    width: 255px;
    border-color: green;
    border-radius: 10px;
}


.contact__box1{
    padding: 5px;
    margin-bottom: 10px;
    background-color: #312D2D;
    height: 88px;
    width: 550px;
}

.contact__box2{
    padding: 5px;
    margin-bottom: 10px;
    background-color: #312D2D;
    height: 265px;
    width: 550px;
} */

/************************************************************FOOTER SECTION**********************************************************/

.footer{
    background-color: #171515;
    width: 100%;
    height: 15vh;
    text-align: center;
    padding: 3% 0;

}

.footer h2{
    font-size: 32px;
    font-weight: 800;
    color: #fff;

}


/* -----------------------------------------------------------MEDIA QUERIES---------------------------------------------------- */

/* -------------------------HERO SECTION--------------------- */
@media only screen and (max-width: 600px){

    .header{
        background-image: none;
        background-color: #84827A ;

    }


    .header__image{
        display: block;
    }

    .header__image img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .header__image img:hover{
        border-radius: 50%;
        border: 3.5px solid #A7235F;
        cursor: pointer;
        box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.45);
        -webkit-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.45);
    }

    .header-brand{
        padding: 0.55rem 0 0 1.5rem;
        font-size: 65px;
        text-align: center;

    }
    
    .header-text{
        display: none;
    }

    .header-text--2{
        display: block;
        position: absolute;
        width: 70%;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
    }

    .header-text--2 h1{
        font-size: 35px;
        font-weight: 400;
    }

    .header-text--2 h2{
        font-size: 25px;
        font-weight: 200;
        line-height: 1.5;
    }

    .header-text--2 span{
        color: #A7235F;
        font-weight: 400;
    }

    /* nav ul li{
        display: none;
    } */

/* -------------------------ABOUT SECTION--------------------- */
    .about-text{
         width: 90%;

    }

    .about-text h2{
        padding-top: 7rem;
        font-weight: 700;
        font-size: 45px;
    }

    .about-text p{
        padding-top: 2rem;
        line-height: 1.8rem;
        text-align: center;
        font-weight: 200;
        font-size: 20px;
    }   
   
    .about-skills{
        padding-top: 3rem;
    }

/* -------------------------PORTFOLIO SECTION--------------------- */     

    .portfolio{
        background-image: none;
        background-color: #E4DED0;   
    }

    .portfolio h2{
        padding-top: 1rem;
        font-weight: 700;
        font-size: 45px;
        color: #403A30;
    }

    .portfolio__container{
        grid-gap: 5px;
        padding: 0 4rem;
        margin-bottom: 0.75rem;
    }


    .portfolio__img img{
        height: 185px;
    }

    .portfolio__img:hover{
        border: 3px solid #A7235F;
        box-shadow: 0px 0px 6px 7px rgba(0,0,0,0.55);
        -webkit-box-shadow: 0px 0px 6px 7px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 0px 6px 7px rgba(0,0,0,0.55);
    }
    

    .portfolio__btn{
        font-size: 25px;
    }

/* -------------------------CONTACT SECTION--------------------- */
.contact{
    padding-top: 1rem;
    font-size: 30px;
    font-weight: 200;
    height: 135vh;
}

.contact_text--2.cotact_text--2--a{
    display: block;
    padding-top: 0.25rem;
    text-align: center;
}

.contact_text--2.cotact_text--2--a h2{
    font-size: 55px;
    font-weight: 800;
}

.contact__row{
   padding-top: 1rem;
   flex-direction: column;
}

.contact-left h2{
    display: none;
}

.contact-left{
    margin-top: 0;
    margin-left: 3rem;
    flex-basis:100%;
    order: 2;
    text-align: left;
}

.contact-left p{
    margin: 3% 8%;
    

}                                                                    
.contact-left p i{
    color: #d9d9d9;
    margin-right: 25px;
    font-size: 35px;
}

.contact-left__icons{
    margin-left: 10%;
}

.contact-left__icons a{
    font-size: 45px;
    padding: 0 1%;
    margin-top: 1px;
}

.contact__btn{
    font-size: 20px;
    padding: 0.5% 1%;
    border-radius: 10px;

}

.contact__btn.contact__btn--1{
    margin: 10px 25% 20px;
    display: inline-block;
    font-weight: 400;
}

.contact-right{
    flex-basis: 100%;
    order: 1;
}  

.contact-right form{
    margin:0 0;
    width: 100%;
    text-align: center;

}

form input, form textarea{
    margin-bottom: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: 200;
    width: 95%;
    padding-bottom: 1%;
}


.contact__btn.contact__btn--2{
    margin: 5px;
    width: 100px;
    font-size: 20px;
}

    /* .contact{
        padding-top: 2rem;
        font-size: 20px;
        font-weight: 200;
    }

    .contact_text--2 h2{
        display: block;
        font-size: 60px;
        font-weight: 800;
        padding-top: 1.5rem;
        text-align: center;
    }

    .contact__row{
       padding-top: 2rem;
    }

    .contact-left h2{
        display: none;
    }

    .contact-left{
        margin-top: 25px;
        margin-left: 7px;
        flex-basis:40%;
        text-align: left;
    }

    .contact-left p{
        margin-top: 15px;

    }                                                                    
    .contact-left p i{
        color: #d9d9d9;
        margin-right: 5px;
        font-size: 20px;
    }

    .contact-left__icons a{
        font-size: 27px;
        margin-top: 35px;
    }

    .contact__btn{
        font-size: 20px;
        padding: 0.5% 1%;
        border-radius: 10px;
    
    }

    .contact__btn.contact__btn--1{
        margin-top: 30px;
        margin-left: 10px;
        display: block;
        font-weight: 400;
    }

    .contact-right{
        flex-basis: 56.5%;
    }  

    .contact-right form{
        margin: 5px 0 0 10px;
        width: 100%;
        text-align: center;

    }

    form input, form textarea{
        margin-bottom: 5px;
        color: #fff;
        font-size: 20px;
        font-weight: 200;
    }


    .contact__btn.contact__btn--2{
        width: 100px;
        font-size: 20px;
    } */

/* -------------------------FOOTER SECTION--------------------- */
    .footer{
        height: 10vh;
        padding: 1.5rem;

    }
    .footer h2{
        font-size: 20px;
        font-weight: 400;

    }

}
    